{{define "content" }}
<form class="form-signin" role="form" action="/signup" method="post">
    <div class="lead">SIGNUP</div>
    <input id="name" type="text" name="name" class="form-control" placeholder="Name" required autofocus>
    <input type="email" name="email" class="form-control" placeholder="Email" required>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">SIGNUP</button>
</form>
{{end}}